body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.wrapper {
    position: absolute;
    overflow: hidden;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 250px;
}

.rainbow {
    position: absolute;
    top: 101%;
    left: 50%;
    border-radius: 50%;
    border: 25px solid transparent;
    transform: translate(-50%, -50%) rotate(-225deg);
    box-sizing: border-box;
    animation: rotate 2s ease-out forwards;
}

@keyframes rotate {
    to {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.red {
    border-right-color: red;
    border-top-color: red;
    width: 500px;
    height: 500px;
    animation-delay: 0;
}

.orange {
    border-right-color: orange;
    border-top-color: orange;
    width: 450px;
    height: 450px;
    animation-delay: 0.2s;
}

.yellow {
    border-right-color: yellow;
    border-top-color: yellow;
    width: 400px;
    height: 400px;
    animation-delay: 0.4s;
}

.green {
    border-right-color: lawngreen;
    border-top-color: lawngreen;
    width: 350px;
    height: 350px;
    animation-delay: 0.6s;
}

.cyan {
    border-right-color: cyan;
    border-top-color: cyan;
    width: 300px;
    height: 300px;
    animation-delay: 0.8s;
}

.blue {
    border-right-color: royalblue;
    border-top-color: royalblue;
    width: 250px;
    height: 250px;
    animation-delay: 1s;
}

.violet {
    border-right-color: blueviolet;
    border-top-color: blueviolet;
    width: 200px;
    height: 200px;
    animation-delay: 1.2s;
}

.tx {
    position: absolute;
    top: calc(50% - 34px);
    left: 50%;
    transform-origin: left center;
    overflow: hidden;
    animation: tx 2s ease-out forwards;
    transform: translateX(-50%) rotate(90deg);
    width: 700px;
    height: 103px;
}

.p {
    position: absolute;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 70px;
    top: calc(50% - 115px);
    left: 50%;
    opacity: 0;
    white-space: nowrap;
    transform-origin: left center;
    animation: tx 2s ease-out forwards;
    transform: translateX(-50%) rotate(-90deg);
}

@keyframes tx {
    to {
        transform: translateX(-50%) rotate(0);
        opacity: 1;
    }
}